/*
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30) {https://github.com/Nemzag/}.
 * Date: 2020-01-01
 * Time: 21h54
 * Updated:
*/

.gaz-table thead {
    background-color: #343a40;
    color: #fff;
    border: 1px solid #dee2e6 !important;
}

.gaz-table thead th {
    text-align: center;
}

.gaz-table-show th {
    background-color: #343a40;
    color: #fff;
    width: 12em;
    text-align: right;
}

/*
.gaz-show-price-in-euro::after {
    content: "€;"
}
*/
.gaz-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .05) !important;
}

.gaz-table td {
    border: 1px solid #dee2e6 !important;
}

.gaz-table-index-9em {
    width: 144px;
}

/* Catégorie, Image, Durée, Prix, Date. */
.gaz-table-index-8em {
    width: 128px;
}

.gaz-table-index-7em {
    width: 112px;
}

/* Prix. */
.gaz-table-index-6em {
    width: 96px;
}

/* Prix. */
.gaz-table-index-6em {
    width: 96px;
}

.gaz-table-index-5em {
    width: 80px;
}

.gaz-table-index-4em {
    width: 64px;
}

.gaz-table-index-3em {
    width: 48px;
}

.gaz-table-index-2em {
    width: 32px;
}

/* View, Edit, Delete */
.gaz-table-index-3em {
    width: 3em;
}

.gaz-show-image {
    height: 8em !important;
}

.gaz-admin-form-button {
    width: 10em !important;
}

.gaz-admin-btn-crud {
    width: 4em;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
