{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}

    <div class = "banner" ></div >

    <div class = "container" >

        <div class = "col-md-6 offset-md-3" >

            <h2 class = "my-4" >Nous contacter</h2 >

            {% for message in app.flashes('contact_success') %}
                <div class = "alert alert-success" >
                    {{ message }}
                </div >
            {% endfor %}

            <div class="alert alert-info">Pour votre information, pour vos tests,<br>
                j'utilise « <b>Test Mail Server Tool</b> » (port 25),<br>
                et pas « <b>MailDev</b> » (port 1080).</div>

            {# Débute le formulaire#}
            {{ form_start(form) }}

            {# Inserer le’s champs en une fois.#}

            {{ form_widget(form) }}

            {# Je ferme mon formulaire #}
            {{ form_end(form) }}
        </div >

    </div >

{% endblock %}
