{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30) {https://github.com/Nemzag/}.
 * Date: 2020-01-12
 * Time: 17h16
 * Updated:
#}

<p>
    {{ contact.message }}
</p>
<p style="color: #3e4244">
    De : Administrateur EasyLearning.Be : <a href = "mailto:contact@easylearning.be" target="_blank">contact@easylearning.be</a >
</p>

<h2 class="h5">Votre commentaire à corriger :</h2>

<p><cite>{{ contact.comment | nl2br }}</p></cite>