{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30) {https://github.com/Nemzag/}.
 * Date: 2020-01-20
 * Time: 22h10
 * Updated:
#}

{% if is_granted('ROLE_STUDENT') or is_granted('ROLE_USER') %}
{% else %}
    <div class="alert alert-info">Pour&nbsp;accédé&nbsp;au&nbsp;menu&nbsp;inscription, dans&nbsp;le&nbsp;drop‑down&nbsp;log‑in, ou&nbsp;les&nbsp;boutons&nbsp;d'inscription&nbsp;dans&nbsp;chaque&nbsp;cours,<br>
        il&nbsp;faut&nbsp;être&nbsp;logué&nbsp;en&nbsp;tant&nbsp;que&nbsp;student : <code>student@domain.ext&nbsp;/&nbsp;password</code>.<br>
        ou&nbsp;bien&nbsp;en&nbsp;tant&nbsp;que&nbsp;user : <code>user@domain.ext&nbsp;/&nbsp;password</code>.<br>
        L'adresse&nbsp;(chemin) : <code>localhost/…/public/inscription/new</code>.</div>
{% endif %}