{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30) {https://github.com/Nemzag/}.
 * Date: 2020-01-23
 * Time: 11h15
 * Updated:
#}
<div class="alert alert-info">Caché un cours ne l'affiche plus, cela fonctionne, j'ai testé.</div>