{{ form_start(commentForm) }}

    {{ form_widget(commentForm) }}

    <button class="btn btn-primary">{{ button_label|default('Sauvegarder votre appréciation.') }}</button>

{{ form_end(commentForm) }}
